# Build
build
lib
dist
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
docs
lib-cov
coverage
.lock-wscript
node_modules/
!node_modules/karma-musicxml2js-preprocessor/
.npm
.node_repl_history
.tscache
typings
*.tmp.*
.baseDir.ts
.idea/
.vscode/
.idea/encodings.xml
*.md
bin/gh_pages_deploy_key
bin/gh_pages_deploy_key.pub
package-lock.json
