<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="A showcase for OpenSheetMusicDisplay.">
    <meta name="author" content="OpenSheetMusicDisplay contributors">
    <!-- Demo js file is included automatically by webpack druing build -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"
        type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css" media="all" rel="stylesheet" />
    <link rel="icon" href="./favicon.ico?" type="image/x-icon" />
</head>

<body>
    <br>
    <h1 class="ui centered header">
        <img src="./favicon.ico?" class="ui image">
        <%= htmlWebpackPlugin.options.title %>
    </h1>
    <div class="ui four column grid container">
        <div class="column">
            <h4 class="ui header">Title:</h4>
            <div class="ui large input">
                <input type="text" id="editTitle" placeholder="Title">
            </div>

            <h4 class="ui header">Composer:</h4>
            <div class="ui large input">
                <input type="text" id="editComposer" placeholder="Composer">
            </div>

            <h4 class="ui header">Tempo (BPM):</h3>
            <div class="ui large input">
                <input type="text" id="editTempo" placeholder="Tempo in integer BPM">
            </div>
        </div>
        <div class="column">
            <h3 class="ui header">General</h3>
            <h4 class="ui header">Number of measures</h4>
            <select class="ui selection dropdown" id="selectMeasureNumber" style="width:60px">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>

            <h4 class="ui header">Time signature</h4>
            <select class="ui selection dropdown" id="selectTimeSignature">            
                <option value="2">2 / 4</option>
                <option value="3">3 / 4</option>
                <option value="4">4 / 4</option>            
            </select>

            <h4 class="ui header">Key Signature</h4>
            <select class="ui selection dropdown" id="selectKeySignature">
                <option value="1">C Major</option>
                <option value="2">D Major</option>
                <option value="3">A Minor</option>
                <option value="4">F Major</option>                
            </select>
        </div>
        <div class="column">
            <h3 class="ui header">Select a sample:</h3>
            <select class="ui selection dropdown" id="selectSample" style="width:320px; height:38%"></select>
        </div>
        <div class="column">
            <!-- <h3 class="ui header">Render backend:</h3>
            <select class="ui selection dropdown" id="backend-select" value="svg" style="height:38%">
                <option value="svg">SVG</option>
                <option value="canvas">Canvas</option>>
            </select> -->
                          
            <h3 class="ui header">Show bounding box for:</h3>
            <select class="ui selection dropdown" id="selectBounding">
                <option value="none">None</option>
                <option value="all">All</option>
                <option value="VexFlowMeasure">Measures</option>
                <option value="VexFlowGraphicalNote">GraphicalNotes</option>
                <option value="VexFlowVoiceEntry">VoiceEntries</option>
                <option value="VexFlowStaffEntry">StaffEntries</option>
                <option value="GraphicalLabel">Labels</option>
                <option value="VexFlowStaffLine">StaffLines</option>
                <option value="SystemLine">SystemLines</option>
                <option value="StaffLineActivitySymbol">ActivitySymbols</option>
                <option value="VexFlowContinuousDynamicExpression">DynamicExpressions</option>
            </select>
       
            <h3 class="ui header">Show debug information:</h3>
            <div class="ui relaxed list">
                <div class="item">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="public" id="skylineDebug">
                        <label>Skyline</label>
                    </div>
                </div>
                <div class="item">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="public" id="bottomlineDebug">
                        <label>Bottomline</label>
                    </div>
                </div>
            </div>
       
            <h3 class="ui header">Debug controls:</h3>
            <div>
                <div class="ui vertical buttons">
                    <div class="ui button" id="debug-re-render-btn">Re-render</div>

                </div>
                <div class="ui vertical buttons">
                    <div class="ui button" id="debug-clear-btn"">Clear</div>
            </div>
        </div>
    </div>
</div>
<table cellspacing=" 0" style="max-width:700px;">
                        <tr id="error-tr">
                            <td></td>
                            <td id="error-td"></td>
                        </tr>
                        </table>
</body>

</html>